[submodule ".zsh/completion/zsh-curl-completion"]
	path = .zsh/completion/zsh-curl-completion
	url = git://github.com/Valodim/zsh-curl-completion.git
[submodule ".zsh/completion/zsh-completions"]
	path = .zsh/completion/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/modules/zsh-syntax-highlighting"]
	path = .zsh/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
