! urxvt
Xft.dpi: 96
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.autohint: 0
Xft.rgba: rgb
Xft.antialias: 1

/* urL-yanking */
urxvt.keysym.M-u: perl:mark-yank-urls:activate_mark_mode
urxvt.underlineurLs: true
urxvt.perl-lib: /home/xintron/.urxvt/
urxvt.perl-ext: selection,mark-yank-urls
urxvt.urlLauncher: firefox

urxvt.urgentOnBell: true
urxvt.cursorBlink: false
urxvt.transparent: true
urxvt.shading:          20
urxvt.scrollBar:        false
urxvt.saveLines:        4096
urxvt.mouseWheelScrollPage: true

ratmenu.style: dreary
ratmenu.font: fixed
ratmenu.bgcolor: #222222
ratmenu.fgcolor: #99ff00

urxvt.borderless: true
urxvt.geometry: 120x40

/* Colors */
urxvt.colorIT: #FFFFFF
urxvt.colorBD: #FFFFFF
urxvt.colorUL: #FF8F00
urxvt.colorRV: #333333
urxvt.underlineColor: #0E0E0E
urxvt.pointerColor: #252525
urxvt.pointerColor2: #252525

#include "/home/xintron/.xresources/xintron.theme"

/* fonts */
urxvt.font: xft:inconsolata:size=10
urxvt.boldFont: xft:inconsolata:size=10:weight=bold
urxvt.italicFont: xft:inconsolata:size=10:slant=italic

/* Commands for fonting */
urxvt.keysym.C-0: command:\033]710;xft:inconsolata:size=10\007\033]711;xft:inconsolata:size=10:weight=bold\007\033]712;xft:inconsolata:size=10:slant=italic\007
urxvt.keysym.C-1: command:\033]710;xft:inconsolata:size=13\007\033]711;xft:inconsolata:size=13:weight=bold\007\033]712;xft:inconsolata:size=13:slant=italic\007
urxvt.keysym.C-2: command:\033]710;xft:inconsolata:size=16\007\033]711;xft:inconsolata:size=16:weight=bold\007\033]712;xft:inconsolata:size=16:slant=italic\007
