! urxvt
Xft.dpi: 96
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.autohint: 0
Xft.rgba: rgb
Xft.antialias: 1

/* urL-yanking */
URxvt.perl-ext-common: default,url-select,font-size

URxvt.colorUL: #87C706
URxvt.matcher.button: 1
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.keysym.C-i: perl:url-select:select_next

URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
URxvt.keysym.C-Left: perl:font-size:reset

/* Needs to be disabled for C-S keybindings to work */
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.urgentOnBell: true
URxvt.cursorBlink: false
URxvt.transparent: false
URxvt.shading:          20
URxvt.scrollBar:        false
URxvt.saveLines:        4096
URxvt.mouseWheelScrollPage: true

ratmenu.style: dreary
ratmenu.font: fixed
ratmenu.bgcolor: #222222
ratmenu.fgcolor: #99ff00

URxvt.borderless: true
URxvt.geometry: 120x40

/* Colors */

#include "/home/xintron/git/configs/base16-builder/output/xresources/base16-monokai.dark.256.xresources"

/* dzen2 */
dzen2.font: xft:M+ 1m regular:size=11

/* Rofi */
rofi.bg: #222
rofi.fg: #eee8d5
rofi.hlbg: #f95346
rofi.hlbg-urgent: #eee8d5
rofi.hlfg-urgent: #222
rofi.bgalt: #292929
rofi.bc: #f95346
rofi.bw: 0
rofi.yoffset: 0
rofi.location: 6
rofi.width: 100
rofi.font: M+ 1m regular
rofi.lines: 15

/* fonts */
URxvt.font: xft:M+ 1m regular:size=10
URxvt.boldFont: xft:M+ 1m regular:size=10:weight=bold
URxvt.italicFont: xft:M+ 1m regular:size=10:slant=italic
