! urxvt
Xft.dpi: 96
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.autohint: 0
Xft.rgba: rgb
Xft.antialias: 1

/* urL-yanking */
URxvt.perl-ext-common: default,matcher,url-select,font-size

URxvt.colorUL: #87C706
URxvt.url-launcher: /usr/bin/firefox-developer
URxvt.url-select.underline: false
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/firefox-developer

URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease

URxvt.urgentOnBell: true
URxvt.cursorBlink: false
URxvt.transparent: false
URxvt.shading:          20
URxvt.scrollBar:        false
URxvt.saveLines:        4096
URxvt.mouseWheelScrollPage: true

ratmenu.style: dreary
ratmenu.font: fixed
ratmenu.bgcolor: #222222
ratmenu.fgcolor: #99ff00

URxvt.borderless: true
URxvt.geometry: 120x40

/* Colors */

#include "/home/xintron/git/configs/base16-builder/output/xresources/base16-tomorrow.dark.256.xresources"

/* dzen2 */
dzen2.font: xft:M+ 1m regular:size=11

/* Rofi */
rofi.background: #000
rofi.foreground: #12D5D5
rofi.highlightbg: #000
rofi.highlightfg: #B7F924
rofi.font: M+ 1m regular
rofi.padding: 3
rofi.lines: 10
rofi.borderwidth: 10

/* fonts */
URxvt.font: xft:M+ 1m regular:size=10
URxvt.boldFont: xft:M+ 1m regular:size=10:weight=bold
URxvt.italicFont: xft:M+ 1m regular:size=10:slant=italic
