gtk_color_scheme = "black:#121212\nwhite:#FFFFFF\ngreen:#B7F924\nred:#FF2A24"

style "default" {
  bg[NORMAL]   = @black
  fg[NORMAL]   = @white
  text[NORMAL] = @white
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @black
}

style "active-window" = "default" {
  fg[NORMAL] = @green
}

style "notification-button" = "default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
}

widget "Taffybar*" style "default"
widget "Taffybar*WindowSwitcher*label" style "active-window"
widget "*NotificationCloseButton" style "notification-button"
